body{
  background-image: url("../../images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: hsl(225, 100%, 94%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
}


@media screen and (min-device-width: 800px) {

  a{
    text-decoration: none;
    font-size: 16px;
  }
  p{
    font-size: 16px;
    color:hsl(224, 23%, 55%);
  }

  .container{
    margin: 80px auto;
    background-color: white;
    border-radius: 10px;
    width: 450px;
    height:680px;
    box-shadow: 9px 12px 30px -8px rgba(118,108,241,0.45);
  }

  .pic{
    background-image: url("../../images/illustration-hero.svg");
    background-position: cover;
    height: 220px;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
  }

  .summary{
    width: 300px;
    margin: 30px auto;
    line-height: 1.5;
  }

  .box-plan{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 7px;
    background-color: hsl(225, 100%, 98%);
    padding: 5px 20px 5px 20px;

  }

  h3{
    color:hsl(223, 47%, 23%);
    margin-left: 15px;
    margin-bottom: 0;
    font-size: 16px;
  }


  .box-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: left;

  }

  .value{
    margin-top: 2px;
    margin-left: 15px;
  }

  .music{
    margin-right: 10px;
  }

  .change{
    color:hsl(245, 75%, 52%);
    font-weight: 700;
    margin-left: 65px;
  }

  .change:hover{
    color:#766CF1;
  }


  .cancel{
    color: #8587A2;
    font-weight: 900;
  }

  .cancel:hover{
    color: hsl(223, 47%, 23%);
  }


  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
  }

  .btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    color: #ffffff;
    background: hsl(245, 75%, 52%);
    padding: 17px 40px 16px 40px;
    text-decoration: none;
    margin-bottom:25px;
    box-shadow: 0px 4px 4px rgba(118,108,241,0.45);
  }

  .btn:hover {
    background: #766CF1;
    text-decoration: none;
  }
}

@media screen and (max-device-width: 700px) {
  .container{
    margin: 180px auto;
    background-color: white;
    border-radius: 50px;
    width: 80%;
    height: 80vh;
    box-shadow: 9px 12px 30px -8px rgba(118,108,241,0.45);

  }


  .pic{
    background-image: url("../../images/illustration-hero.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    border-top-left-radius:  50px;
    border-top-right-radius: 50px;
  }

  .summary{
    width: 79%;
    margin: 30px auto;
    line-height: 1.5;
    font-size: 2.3vh;
    color:hsl(224, 23%, 55%);

  }

  h2{
    font-size: 3.2vh;
    color:hsl(223, 47%, 23%);
  }

  .box-plan{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:70%;
    margin: 80px auto;
    font-size: 1.8vh;
    border-radius: 30px;
    background-color: hsl(225, 100%, 98%);
    padding: 5px 50px 5px 50px;


  }

  h3{
    color:hsl(223, 47%, 23%);
    margin-left: 23.250px;
    margin-bottom: 0;
    font-size: 2.1vh;

  }

  .music{
    width: 20%;
  }

  .change{
    color:hsl(245, 75%, 52%);
    font-weight: 700;
    margin-left: 5vh;
  }

  .box-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: left;

  }

  a{
    text-decoration: none;
  }

  .value{
    margin-top: 2px;
  }


  .change:hover{
    color:#766CF1;
  }

  .cancel{
    color: #8587A2;
  }

  .cancel:hover{
    color: hsl(223, 47%, 23%);
  }

  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.5vh;
    font-weight: 700;

  }

  .btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 30px;
    color: #ffffff;
    background: hsl(245, 75%, 52%);
    padding: 30px 50px 30px 50px;
    text-decoration: none;
    margin: 10px auto 40px;
    box-shadow: 0px 30px 20px rgba(118,108,241,0.25);
    width:70%;

  }

  .btn:hover {
    background: #766CF1;
    text-decoration: none;
  }


}
